@font-face {
    font-family: "iranSans";
    src: url("../assets/fonts/iranSans.ttf") format("truetype");
}

html,
body {
    font-family: iranSans !important;
    height: 100% !important;
}

#app {
    height: 100% !important;
}

a {
    text-decoration: none !important;
}